body {
    background-color: rgba(13, 26, 45, 1);
}

h1 {
    width: 25%;
    border-radius: 10px;
    margin-left: 45%;
    display: block;
    background-color: darkgray;
    text-align: center;
    color: aliceblue;
    font-variant: small-caps;
}

.picture {
    border-radius: 25px;
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.firstbox {
    background-color: rgba(21, 39, 63, 1);
    width: 250px;
    height: 470px;
    margin: 40%;
    margin-top: 5%;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 20px 50px #0C1729;
    box-shadow: 40px 50px #0C192C;
}

.icon {
    width: 12%;
}

.eth {
    float: left;
    padding-top: 20px;
}

.daysleft {
    padding-top: 20px;
    float: right;
}

p {
    display: inline;
}

.ethtext {
    font-weight: 700;
    font-size: medium;
    color: rgb(0, 255, 248);

}

.dayslefttext {
    color: rgba(144, 171, 213, 1);
    font-weight: 900;
}

.line {
    background-color: rgba(144, 171, 213, 1);
    width: 250px;
    height: 1px;
    clear: both;
    margin-top: 30px;
    float: left;
}

.avater {
    margin-top: 10%;
    width: 10%;
}

.acknowledgement {
    float: left;
}

.avater, .dayslefttext2, .bolder {
    float: left;
}

.dayslefttext2, .bolder {
    padding-top: 5%;
    padding-left: 5%;
}

.bolder {
    padding-left: 2%;
    font-weight: 900;
    color: white;
}

.dayslefttext2 {
    color: rgba(144, 171, 213, 1);;
}

.oureq {
    color: rgb(144, 171, 213);
}

h2 {
    color: aliceblue;
}

